<div class="mobile-head">
   <p>Welcome to Diabetes@Home!</p>
</div>
<div class="landing-body">
   <div class="landing-background">
      <img src="/landingPage.webp">
   </div>
   <div class="web-head">
      <p>Welcome to Diabetes@Home!</p>
   </div>
   <div class="twobuttons">
      <button class="ABOUT-DIABETES" onclick="window.location.href='/normal/aboutDiabetes'" type="button">ABOUT
         DIABETES</button>
      <button class="ABOUT-WEBSITE" onclick="window.location.href='/normal/aboutThisWeb'" type="button">ABOUT THIS
         WEBSITE</button>
   </div>
   <p class="bottom-word">Learn from yesterday, live for today, hope for tomorrow !</p>
</div>