<div class="login-background"></div>
<div class="login">
    <h4 class="forgetpassTitle">Clinician Login</h4>
    {{#each flash}}
    <div class="alertMessage">
        <p class="alert">{{this}}</p>
    </div>
    {{/each}}
    <div class="loginContainer">
        <form action="/clinician/login" method="post">
            <p for="email">Email Address:</p>
            <input type="email" id="emails" name="email" placeholder="123@xxx.com">
            <p for="password">Password:</p>
            <input type="password" id="pass" name="password" placeholder="at least 8 characters">
            <a class="ForgetPassword" href='/clinician/forgetpass'>Clinician Forget Password?</a>
            <div class="mid-login">
                <button class="middle-login" type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="shiftRole">
        <a href="/patient/login">I am not a Clinician, I am a Patient</a>
    </div>
</div>