<header class="clinician-header">
    <div>
        <a href="/clinician/dashboard"><img class="clinician-logo" src="/logo.png" alt="logo"></a>
    </div>
    <div class="clinician-navBar"><a href="/clinician/dashboard">DASHBOARD</a></div>
    <div class="clinician-navBar"><a href="/clinician/commentList">COMMENT</a></div>
    <div class="clinician-navBar"><a href="/clinician/newPatient">NEW PATIENT</a></div>
    <div class="clinician-navBar"><a href="/clinician/aboutMe">ABOUT ME</a></div>
    {{!-- <div>
        <button class="clinician-logOut" onclick="window.location.href=''" type="button">Log Out</button>
    </div> --}}
    <div><form action="/normal/logout" method="get">
        <button class="clinician-logOut" >Log Out</button>
    </form></div>
</header>