<header class="normal-header">
    <div class="normalNav">
        <img class="normal-logo" onclick="window.location.href='/normal/landingPage'" src="/logo.png" alt="logo">
        <button class="normal-login" onclick="window.location.href='/patient/login'" type="button">Login</button>
    </div>
</header>